<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mountaineering2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mountaineering2">
        <activity android:name=".registered1"></activity>
        <activity android:name=".forgetPage3" />
        <activity android:name=".forgetPage2" />
        <activity android:name=".forgetPage1" />
        <activity android:name=".forgetPage.forgetPage" />
        <activity android:name=".loadingScreen" />
        <activity android:name=".member" />
        <activity android:name=".findPeoplePage5" />
        <activity android:name=".findPeoplePage7" />
        <activity android:name=".findPeoplePage2" />
        <activity android:name=".findPeoplePage6" />
        <activity android:name=".findPeoplePage4" />
        <activity android:name=".findPeoplePage3" />
        <activity android:name=".findPeoplePage1" />
        <activity android:name=".findPeople" />
        <activity android:name=".forgetPage" />
        <activity android:name=".homeScreen" />
        <activity android:name=".registered" />
        <activity android:name=".sign_in" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>